<p id="notice"><%= notice %></p>

<p>
  <b>Room:</b>
  <%= @bed.room_id %>
</p>

<p>
  <b>Num:</b>
  <%= @bed.num %>
</p>

<p>
  <b>Status:</b>
  <%= @bed.status %>
</p>


<%= link_to 'Edit', edit_bed_path(@bed) %> |
<%= link_to 'Back', beds_path %>
